#slider_bl_css .slides {
  padding: 0;
  width: 609px;
  height: 420px;
  display: block;
  margin: 0 auto;
  position: relative
}

#slider_bl_css .slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none
}

#slider_bl_css .slides input {
  display: none
}

#slider_bl_css .slide-container {
  display: block
}

#slider_bl_css .slide {
  top: 0;
  opacity: 0;
  width: 609px;
  height: 420px;
  display: block;
  position: absolute;
  transform: scale(0);
  transition: all .7s ease-in-out
}

#slider_bl_css .slide img {
  width: 100%;
  height: 100%
}

#slider_bl_css .nav label {
  width: 100px;
  height: 100%;
  display: none;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  transition: opacity .4s;
  color: #FFF;
  font-size: 85pt;
  text-align: center;
  line-height: 380px;
}

#slider_bl_css .slide:hover+.nav label {
  opacity: .5
}

#slider_bl_css .nav label:hover {
  opacity: 1
}

#slider_bl_css .nav .next {
  right: 0
}

#slider_bl_css input:checked+.slide-container .slide {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out
}

#slider_bl_css input:checked+.slide-container .nav label {
  display: block
}

#slider_bl_css .nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center
}

#slider_bl_css .nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, .6)
}

#slider_bl_css input#img-1:checked~.nav-dots label#img-dot-1,
#slider_bl_css input#img-2:checked~.nav-dots label#img-dot-2,
#slider_bl_css input#img-3:checked~.nav-dots label#img-dot-3,
#slider_bl_css input#img-4:checked~.nav-dots label#img-dot-4,
#slider_bl_css input#img-5:checked~.nav-dots label#img-dot-5,
#slider_bl_css input#img-6:checked~.nav-dots label#img-dot-6 {
  background: rgba(0, 0, 0, .8)
}